
<div class="container">
    <div class="jumbotron text-center">
      <h1>Welcome to FireTree</h1>
      <p>lorem ipsum</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Photography</a></p>
    </div>
</div>